<!DOCTYPE html>
<html>
  <head>
      <title>IT Asset Management Portal</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      ## Used for Datatable
		  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.css"/>
      <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.js"></script>
  </head>
<body>

<!-- Navbar (sit on top) -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">IT Asset Management Portal</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/home/assets">Assets</a></li>
            <li><a href="/home/locations">Locations</a></li>
            <li><a href="/home/manufacturers">Manufacturers</a></li>
            <li><a href="/home/employees">Employees</a></li>
          </ul>
        </div>
      </nav>


<!-- Page content -->
<div class="container">
    {% block content %}{% endblock %}
</div>


<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p>Powered by CSR Solutions</a></p>
</footer>

</body>
</html>

