{% extends "home/base.htm" %}

{% block content %}
    <header class="w3-display-container w3-content w3-wide" style="max-width:1200px;" id="home">
                {% load static %}
        <img class="w3-image" src="{% static "asset_management.png" %}" alt="Architecture" width="1500" height="800">
    </header>
          
    <div class="w3-container w3-padding-32" id="projects">
            <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Please Select One of the Following:</h3>
            </div>
          <div class="w3-row-padding">
            <div class="w3-col l3 m6 w3-margin-bottom">
              <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">Assets</div>
                <a href="/home/assets">
                  <img src="{% static "media/assets.png" %}" alt="House" style="width:100%">
                </a>
              </div>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
              <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">Locations</div>
                <a href="/home/locations">
                  <img src="{% static "media/locations.png" %}" alt="House" style="width:100%">
                </a>
              </div>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
              <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">Manufacturers</div>
                <a href="/home/manufacturers">
                  <img src="{% static "media/manufacturers.jpg" %}" alt="House" style="width:100%"></a>
              </div>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
              <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">Employees</div>
                <a href="/home/employees" class="w3-bar-item w3-button">
                  <img src="{% static "media/employees.png" %}" alt="House" style="width:100%">
                </a>
              </div>
            </div>
          </div>
{% endblock %}