{% extends "home/base.htm" %}

{% block content %}
<div class="box">
  <div class="box-header">
    <h1>Manufacturers</h1>
  </div>
    <p class="warning-messages text-danger"></p>
    <table id="sort" class="table table-striped">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </thead>
        <tbody>
            {% for m in manufacturer_list %}
            <tr>
                <td>{{ m.id }}</td>
                <td>{{ m.name }}</td>
                <td>{{ m.description }}</td>
                <td><a class="" href="/home/updateManufacturer/{{ m.id }}">edit</a><span> | </span><a class="delete_btn" href="#">delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary" href="/home/createManufacturer/" role="button">Add New Manufacturer</a>
</div>
{% load staticfiles %}
<script src="{% static "scripts/manufacturers.js" %}"></script>
{% endblock %}